<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuelogicinventoryassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_iconnew"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_iconnew_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityCheckIn_CheckOut"
            android:label="@string/title_activity_device_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityDeviceDetails"
            android:label="@string/title_activity_device_details"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddNewDeviceActivity"
            android:label="@string/title_activity_add_new_device"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivitySendEmail"
            android:label="Cuelogic Inventory"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityAllDeviceListView"
            android:label="@string/title_activity_all_device_list_view"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EmployeeDeviceListActivity"
            android:label="@string/title_activity_employee_device_list"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>